---
layout: post
title: Pooneh Shooshtari
---

<!DOCTYPE html>
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}
<body>
<div class="row marketing">
        <div class="col-sm-5">
          <h4>Email</h4>
          <p>
              <b>Personal:</b> poonehshooshtari@gmail.com<br>
          </p>

          <h4>Other Links</h4>
            
          <p>
          <a href="">Resume</a><br>
          <a href="">github</a>
          </p>
        </div>
        <div class="col-sm-7">
          <h4>Address</h4>
          
        </div>
</div>
</body>
</html>
